@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@400..700&display=swap');

body {
    background-color: rgba(243, 253, 226, 0.486);
}

.footer {
    color: rgb(250, 5, 5);
    font-family: "Kode Mono", monospace;
    font-size: 2rem;
    text-align: center;
}

.heading {
    text-align: center;
}

.playground-heading {
    color: rgb(38, 1, 244);
    font-family: "Anta", sans-serif;
    font-size: 5rem;
}

.main {
    border: 1px solid rgb(4, 108, 27);
    width: 800px;
    margin: 0 auto;
}

.pilt {      
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    padding-bottom: 700
    px;
}

.koostis { 
    border: 3px solid rgb(0, 242, 255);   
    font-size: 2rem;
    color: rgb(10, 224, 60); 
    text-align: justify;
    
       
}



.astmed {
    
    font-size: 2rem;
    color: rgb(72, 156, 239); 
    text-align: justify;
    padding-top: 100px;
    padding-bottom: 100px;
}

ol {
    list-style-type: upper-roman;
}
li {
    color:rgb(77, 66, 223);
    font-size: 24px;
}

.allikas{
    border: 3px solid rgb(172, 107, 107); 
    font-size: 16pt;
    text-align: center;
}